In [ ]:
import pandas as pd

#Estrutura de dados

Series: estrutura de dados unidimensional, semelhante a uma lista ou array, mas com recursos adicionais. Ela armazena uma sequência de valores de um único tipo de dado (numérico, texto, booleano etc.) associados a um índice (rótulos).

In [8]:
# Exemplo
gols = [2, 4, 1, 5, 2]
indice = ["Rodada 1", "Rodada 2", "Rodada 3", "Rodada 4", "Rodada 5"]
serie = pd.Series(gols, index = indice)
serie

Rodada 1    2
Rodada 2    4
Rodada 3    1
Rodada 4    5
Rodada 5    2
dtype: int64

DataFrames:  estrutura de dados bidimensional, como uma tabela, com linhas e colunas. Cada coluna pode conter um tipo de dado diferente, e as linhas são identificadas por um índice.

In [ ]:
# Exemplo 
dados = { 
' Time': ['Flamengo', 'Palmeiras', 'São Paulo', 'Corinthians'], 
'Vitórias': [18, 16, 14, 12], 
'Empates': [5, 7, 9, 10], 
'Derrotas': [5, 6, 7, 8] 
} 

df = pd.DataFrame (dados) 
display(df)

          Time  Vitórias  Empates  Derrotas
0     Flamengo        18        5         5
1    Palmeiras        16        7         6
2    São Paulo        14        9         7
3  Corinthians        12       10         8

In [7]:
df = pd.read_csv("C:/Users/Ser Terráqueo/Documents/RECODE PRO AI/Modulo 3/Python&Pandas/Tabela_Teste.csv")
df

   Indice       A       B       C
0       1     Ana     Ana     Ana
1       2    Joao    Joao    Joao
2       3   Pedro   Pedro   Pedro
3       4  Marcos  Marcos  Marcos

In [9]:
A = df["A"]
A.to_csv('A.csv', index=False)
A

0       Ana
1      Joao
2     Pedro
3    Marcos
Name: A, dtype: object