In [ ]:
import pandas as pd

Exercícios Práticos

1️ - Crie um DataFrame com estatísticas de 6 times, incluindo pontos, vitórias e saldo de gols.

In [3]:
data = {
    'Time': ['Time A', 'Time B', 'Time C', 'Time D', 'Time E', 'Time F'],
    'Pontos': [60, 55, 48, 72, 51, 68],
    'Vitórias': [20, 18, 14, 22, 16, 20],
    'Saldo de Gols': [30, 25, 10, 40, 15, 35]
}
 
df = pd.DataFrame(data)
df

     Time  Pontos  Vitórias  Saldo de Gols
0  Time A      60        20             30
1  Time B      55        18             25
2  Time C      48        14             10
3  Time D      72        22             40
4  Time E      51        16             15
5  Time F      68        20             35

2️ - Filtre os times que possuem mais de 50 pontos e saldo de gols positivo.

In [4]:
df_filtrado = df[(df['Pontos'] > 50) & (df['Saldo de Gols'] > 0)]
print("Times com mais de 50 pontos e saldo de gols positivo:\n", df_filtrado)

Times com mais de 50 pontos e saldo de gols positivo:
      Time  Pontos  Vitórias  Saldo de Gols
0  Time A      60        20             30
1  Time B      55        18             25
3  Time D      72        22             40
4  Time E      51        16             15
5  Time F      68        20             35

3️ - Ordene os times pelo número de vitórias, do maior para o menor.

In [5]:
df_ordenado = df.sort_values(by='Vitórias', ascending=False)
print("\nTimes ordenados por vitórias:\n", df_ordenado)

Times ordenados por vitórias:
      Time  Pontos  Vitórias  Saldo de Gols
3  Time D      72        22             40
0  Time A      60        20             30
5  Time F      68        20             35
1  Time B      55        18             25
4  Time E      51        16             15
2  Time C      48        14             10

4️ - Adicione uma nova coluna chamada "Aproveitamento (%)" baseada no total de pontos.

In [6]:
total_jogos = 30
df['Aproveitamento (%)'] = (df['Pontos'] / (total_jogos * 3)) * 100
print("\nDataFrame com a coluna 'Aproveitamento (%)':\n", df)

DataFrame com a coluna 'Aproveitamento (%)':
      Time  Pontos  Vitórias  Saldo de Gols  Aproveitamento (%)
0  Time A      60        20             30           66.666667
1  Time B      55        18             25           61.111111
2  Time C      48        14             10           53.333333
3  Time D      72        22             40           80.000000
4  Time E      51        16             15           56.666667
5  Time F      68        20             35           75.555556